body {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  background-color: #011f3f;
}

#level-title {
  font-size: 3rem;
  margin-top: 5%;
  margin-bottom: 1%;
  color: #fef2bf;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
    display: inline-block;
    width: 11.5rem;
    height: 11.5rem;
    margin: 2rem;
    border: 10px solid black;
    border-radius: 20%;
    font-size: 5rem;
    line-height: 11.5rem;
    font-weight: 500;
    text-align: center;
    color: #FFF;
}

.letter-space {
    padding: 0.25rem;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
